
<div>
  <button class='btn btn-default col-md-12'id='click'>Click to enter</button>
  <%= image_tag('night-owl-logo', id: 'landing-logo', class: 'img img-responsive animated slideInUp col-md-12') %>
</div>
<%= audio_tag 'horned_owl.wav', id: 'owl-hoot' %>
